body {
  font-family: "Voltaire", sans-serif;
  background-color: #f2f2f2;
}

#main-container {
  background-color: white;
  margin: auto;
  max-width: 750px;
  box-shadow: 0px 1px 5px #000;
  height: 164px;
}

.searchbox {
  margin-left: 20px;
  margin-top: 20px;
}

#searchbtn {
  border-radius: 0px;
  width: 46px;
  height: 48px;
}

#searchbar {
  border-radius: 0px;
  padding: 0px 25px;
  min-width: 200px;
}

#footers {
  margin-left: 10px;
}
.data {
  margin-top: 20px;
  margin-left: 7px;
}

#heading {
  color: darkslateblue;
  margin-top: 20px;
}

img {
  height: 50px;
  width: 50px;
}
#usersfont {
  font-size: 18px;
  cursor: pointer;
  color: #4d4dff;
}

#usersfont:hover {
  text-decoration: underline;
  color: #3333cc;
}

.issuesclass {
  font-size: 14px;
  background-color: #4dc91a;
  padding: 2px 8px;
  color: #fff;
}

.ilabel {
  font-size: 14px;
  padding: 2px 8px;
  color: #000;
  font-weight: bold;
  float: right;
}

.userrepo {
  font-size: 13px;
  padding: 2px 8px;
  color: #fff;
  background-color: #3366ff;
}

#tabledoc {
  cursor: pointer;
  color: #4d4dff;
}

#tabledoc:hover {
  text-decoration: underline;
  color: #3333cc;
}

.finalrepo {
  font-size: 18px;
}
@media only screen and (max-width: 700px) {
  .searchbox {
    margin: auto;
    margin-top: 20px;
  }

  .data {
    margin-top: 20px;
    text-align: center;
  }
}
#table-data {
  background-color: white;
  margin-top: 60px;
  box-shadow: 0px, 1px, 5px, #000;
  /* max-width: 1000px; */
  /* padding: 50px; */
}
